.intro__inner {
}
.hero {
    padding: 50px 0 90px 0;
}
.hero__blocks {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.main__title {
    font-size: 1.875rem;
    margin-bottom: 15px;
}   
.hero__img {
    width: 540px;
    height: 323px;
}

.why-us {
    padding-bottom: 78px;
}
.why-us__list {
    display: flex;
    justify-content: space-between;
    gap: 31px;
    padding-top: 45px;
}
.why-us__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    position: relative;
}
.why-us__item__title {
    font-size: 1.375rem;
    font-weight: 500;
}
.why-us__item__text {
    font-weight: 300;
}
.circle {
    background-color: var(--button-orange-bg);
    border-radius: 50%;
    width: 100%;
    height: 119px;
    max-width: 119px;
}
.why-us__item--1::before, .why-us__item--2::before, .why-us__item--3::before, .why-us__item--4::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -26px;
}
.why-us__item--1::before {
    background: url('../images/company-whyus-1.png') no-repeat center center;
    background-size: cover;
    max-width: 130px;
    max-height: 130px;
}
.why-us__item--2::before {
    background: url('../images/company-whyus-2.png') no-repeat center center;
    background-size: cover;
    max-width: 133px;
    max-height: 132px;
}
.why-us__item--3::before {
    background: url('../images/company-whyus-3.png') no-repeat center center;
    background-size: cover;
    max-width: 128px;
    max-height: 135px;
}
.why-us__item--4::before {
    background: url('../images/company-whyus-4.png') no-repeat center center;
    background-size: cover;
    max-width: 127px;
    max-height: 126px;
}
.delivery {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 61px 0 50px 0;
}
.main__text.delivery__text {
    width: 100%;
    max-width: 825px;
    margin-top: 10px;
}

.howtobuy {
    color: #fff;
    height: 658px;
}
.howtobuy__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 25px;
    padding: 49px 0 68px 0;
}
.howtobuy::before {
    content: '';
    background: 
        url('../images/company-bg.png') no-repeat center center,
        rgba(0, 0, 0, 0.4);
    background-size: cover;
    width: 100dvw;
    height: 658px;
    position: absolute;
    left: 0;
    z-index: -1;
    filter: brightness(0.6);
}

.contact-panel__button {
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
    border: 1px solid var(--button-orange-bg);
    border-radius: 50px;
    background-color: var(--button-orange-bg);
    width: 100%;
    height: var(--filter-panel-button-h);
    transition: all .5s ease;
}
.contact-panel {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/images/contact-bg.png') no-repeat center center;;
    background-size: cover;
    border-radius: 5px;
    padding: var(--contact-panel-p);
    width: var(--filter-panel-w);
}
.contact-panel__title {
    font-size: 1.375rem;
    font-weight: 500;
    color: #fff;
}
.contact-panel__subtitle {
    font-size: 0.875rem;
    color: #fff;
    margin-top: var(--contact-panel-subtitles-m-top);
}
.contact-panel__input {
    font-family: 'Fira Sans', sans-serif;
    border: 0;
    border-radius: 5px;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.5);
    padding: var(--contact-panel-input-p);
    width: 100%;
    height: var(--contact-panel-input-h);
}
.contact-panel__inputs {
    display: flex;
    flex-direction: column;
    gap: var(--contact-panel-inputs-gap);
    padding: var(--contact-panel-inputs-p);
}
.contact-panel__extra {
    font-size: 0.6875rem;
    color: #fff;
}
.contact-panel__extra-link {
    color: var(--button-orange-bg);
}
.contact-panel__button {
    margin-top: var(--contact-panel-button-m-top);
}
.success {
    filter: blur(3px)
}
.success-p {
    color: var(--button-orange-bg);
    font-size: 1.2rem;
    text-align: center;
    margin-top: var(--item-card-success-p-m-top);
}

.contact-panel__button:hover {
    cursor: pointer;
}
.contact-panel__input::placeholder {
    color: #000;
}
.contact-panel__button:hover {
    background-color: var(--button-orange-bg-hover);
}
.intro__inner::before {
    content: '';
    background: url('../images/paper-bg.png') no-repeat center center;
    background-size: cover;
    width: 100dvw;
    height: 968px;
    position: absolute; 
    left: 0;
    z-index: -2;
}