:root {
    --header-p: 12px 0 19px 0;
    --header-gap: 22px;
    --header-title-m-top: 79px;
    --header-bg-height: 390px;
    --header-soc-list-gap: 10px;
    --header-act-list-gap: 35px;
    --logo-w: 94px;
    --logo-h: 111px;
    --img-default-scale: 30px;
    --img-thinner-scale: 28px;
    --aside-gap: 30px;
    --filter-panel-bg: #262022;
    --filter-panel-p: 20px 11px;
    --filter-panel-w: 255px;
    --filter-panel-hr-color: #3C3C3C;
    --filter-panel-hr-m: 6.5px 0;
    --filter-panel-input-h: 48px;
    --filter-panel-input-p: 0 12px 0 22px;
    --button-orange-bg: #FDCF55;
    --filter-panel-title-first-m-top: 40px;
    --filter-panel-title-m-top: 32px;
    --filter-panel-list-m-top: 14px;
    --filter-panel-item-m-top: 11px;
    --filter-panel-subtitle-m-top: 10px;
    --filter-panel-price-input-p: 0 10px;
    --filter-panel-price-input-w: 106px;
    --filter-panel-price-input-h: 34px;
    --filter-panel-price-p: 14px 0;
    --filter-panel-price-gap: 5px;
    --filter-panel-wheat-w: 29px;
    --filter-panel-wheat-h: 11px;
    --contact-panel-p: 20px 19px;
    --contact-panel-input-p: 0 16px;
    --contact-panel-input-h: 50px;
    --contact-panel-subtitles-m-top: 12px;
    --contact-panel-inputs-gap: 10px;
    --contact-panel-inputs-p: 16px 0 12px 0;
    --contact-panel-button-m-top: 35px;
    --input-border-color: #D7D7D7;
    --content-wrapper-p: 35px 0;
    --main-row-gap: 50px;
    --main-p-left: 50px;
    --card-gap: 8px;
    --card-item-img-w: 214px;
    --card-item-img-h: 571px;
    --card-item-button-p: 9.09px 0;
    --card-sale-p: 5px 11px;
    --sale-gap: 10px;
    --sale-h: 141px;
    --sale-wheat-w: 37px;
    --sale-wheat-h: 14px;
    --card-new-green-bg: #769B54;
    --footer-bg-color: #262022;
    --footer-h: 412px;
    --footer-m-top: 100px;
    --footer-logo-img-w: 82px;
    --footer-logo-img-h: 97px;
    --footer-logo-gap: 9px;
    --footer-wrapper-p-top: 20px;
    --footer-logo-m-bottom: 26px;
    --footer-social-list-m-top: 42px;
    --footer-list-gap: 20px;
    --footer-logo-max-w: 350px;
    --footer-item-max-w: 250px;
    --footer-contacts-gap: 29px;
    --footer-list-p: 10px 0 60px 0;
    --footer-contacts-item-gap: 14px;
    --empty-cart-title-m-bottom: 35px;
    --empty-cart-subtitle-m-bottom: 48px;
    --cart-button-h: 44px;
    --filled-cart-total-gap: 35px;
    --filled-cart-gap: 20px;
    --filled-cart-total-left-p-right: 70px;
    --table-header-green: #769B54;
    --main-p-top: 55px;
    --item-price-calc-gray: #ADADAD;
    --cart-header-white: #E9E9E9;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Fira Sans', sans-serif;
    width: 100dvw;
    overflow-x: hidden;
}
.wrapper, .footer__wrapper {
    width: clamp(320px, 58.3dvw, 1120px);
    margin: 0 auto;
}
.background {
    position: absolute;
    z-index: -1;
}
.background__img {
    filter: brightness(60%);
    width: 100dvw;
    height: var(--header-bg-height);   
}
.header {
    display: flex;
    flex-direction: column;
    padding: var(--header-p);
    gap: var(--header-gap);
}
.header__inner {
    display: flex;
    justify-content: space-between;
}
.header__social-list, .header__action-list, .footer__social-list {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.header__social-list, .footer__social-list {
    gap: var(--header-soc-list-gap);
}
.header__action-list {
    gap: var(--header-act-list-gap);
}
.header__social-item, .header__action-item, .footer__social-item {
    display: inline-block;
    position: relative;
}
.header__logo {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', sans-serif;
    align-items: center;
}
.header__logo__link {
    display: flex;  
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.header__logo-image {
    width: var(--logo-w);
    height: var(--logo-h);
}
.header__logo-title {
    color: #fff;
    font-size: 2.1875rem;
    font-weight: 400;
    text-transform: uppercase;
}
.header__social-icon {
    width: var(--img-default-scale);
    height: var(--img-default-scale);
}
.header__social-images, .footer__social-images {
    position: relative;
}
.header__social-image:nth-child(1), .footer__social-image:nth-child(1) {
    width: 5.33px;
    height: 5.33px;
    position: absolute;
    left: 41%;
    top: 36.5%;
}
.header__social-image:nth-child(2), .footer__social-image:nth-child(2) {
    width: 13.12px;
    height: 13.11px;
    position: absolute;
    top: 24.9%;
    left: 28.25%;
}
.header__social-image:nth-child(3), .footer__social-image:nth-child(3) {
    width: var(--img-default-scale);
    height: var(--img-default-scale);
}

.nav__list {
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    list-style-type: none;
}
.nav__item a {
    color: #fff;
    text-decoration: none;
}
.header__title {
    font-size: 3.125rem;
    font-weight: 500;
    color: #fff;
    margin-top: var(--header-title-m-top);
}

.vk-link::before {
    content: '';
    background: url('/images/vk.png') no-repeat center center;
    background-size: contain;
    width: var(--img-default-scale);
    height: var(--img-default-scale);
    display: inline-block;
}
.facebook-link::before {
    content: '';
    background: url('/images/fb.png') no-repeat center center;
    background-position: center;
    background-size: contain;
    width: var(--img-default-scale);
    height: var(--img-default-scale);
    display: inline-block;
}
.search-link::before {
    content: '';
    background: url('/images/search.png') no-repeat center center;
    background-position: center;
    background-size: contain;
    width: var(--img-thinner-scale);
    height: var(--img-thinner-scale);
    display: inline-block;
}
.cart-link::before {
    content: '';
    background: url('/images/cart.png') no-repeat center center;
    background-position: center;
    background-size: contain;
    width: var(--img-default-scale);
    height: var(--img-thinner-scale);
    display: inline-block;
}



.main {
    padding-top: var(--main-p-top);
    position: relative;
}
.empty-cart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: clamp(120px, 100dvw, 776px); /*позже поменять min-width */
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.empty-cart__title {
    font-size: 2.813rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: var(--empty-cart-title-m-bottom);
}
.empty-cart__subtitle {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: var(--empty-cart-subtitle-m-bottom);
}
.empty-cart__button {
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid var(--button-orange-bg);
    border-radius: 50px;
    background-color: var(--button-orange-bg);
    width: 35%;
    height: var(--cart-button-h);
}
.empty-cart__button:hover {
    cursor: pointer;
}

.filled-cart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: var(--filled-cart-gap);
}

.filled-cart__item-cell {
    text-align: center;
    padding: 20px 0;
}
.filled-cart__item-cell__item-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}
.filled-cart__action-button:hover {
    cursor: pointer;
}
.item-decrease {
    background: url('/images/action-minus.png') no-repeat center center;
    background-size: contain;
    border: 0;
    width: 15.68px;
    height: 4.28px;
}
.item-increase {
    background: url('/images/action-plus.png') no-repeat center center;
    background-size: contain;
    border: 0;
    width: 15.68px;
    height: 15.68px;
}
.filled-cart__item-cell:first-of-type {
    padding: 20px 0 20px 47px;
}
.filled-cart__item-cell:nth-of-type(2) {
    text-align: left;
}
.filled-cart__item-total, .filled-cart__item-amount {
    font-size: 1.375rem;
    font-weight: 500;
}
.filled-cart__item-price {
    font-size: 1rem;
    color: var(--item-price-calc-gray);
}
.filled-cart__item-name {
    font-size: 1.125rem;
    font-weight: 500;
}
.filled-cart__item-category {
    font-size: 1rem;
}
.filled-cart__item-subcategory, .filled-cart__item-capacity {
    font-size: 1rem;
    font-weight: 300;
}

.filled-cart__header {
    color: var(--table-header-green);
    border-bottom: 2px solid var(--cart-header-white);
}
.filled-cart__header:nth-of-type(2) {
    text-align: left;
}
.filled-cart__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
    gap: var(--filled-cart-total-gap);
}
.filled-cart__total-left {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: var(--button-orange-bg);
    border: 1px solid var(--button-orange-bg);
    border-radius: 50px;
    padding-right: var(--filled-cart-total-left-p-right);
    width: clamp(120px, 100dvw, 825px);
    height: var(--cart-button-h);
}

.filled-cart__price {
    font-weight: 600;
    margin-left: 15px;
}
.filled-cart__button {
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--button-orange-bg);
    border: 1px solid var(--button-orange-bg);
    border-radius: 50px;
    width: clamp(125px, 100dvw, 255px);
    height: var(--cart-button-h);
}
.filled-cart__button:hover {
    cursor: pointer;
}


.footer {
    display: flex;
    background-color: var(--footer-bg-color);
    margin-top: var(--footer-m-top);
    width: 100%;
    height: var(--footer-h);
    background-image: url('/images/footer-bg1.png'), url('/images/footer-bg2.png'), url('/images/footer-bg3.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: calc(100dvw / 3) 200px;
    background-position: bottom left, bottom right, bottom;
}
.footer__wrapper {
    padding-top: var(--footer-wrapper-p-top);
}
.footer__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: var(--footer-list-p);
}
.footer__logo {
    display: flex;
    align-items: center;
    gap: var(--footer-logo-gap);
    margin-bottom: var(--footer-logo-m-bottom);
    max-width: var(--footer-logo-max-w);
}
.footer__logo-image {
    width: var(--footer-logo-img-w);
    height: var(--footer-logo-img-h);
}
.footer__logo-title {
    font-size: 2.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--button-orange-bg);
}
.footer__description {
    font-size: 0.9rem;
    font-weight: 300;
    color: #fff;
    max-width: var(--footer-logo-max-w);
}
.footer__social-list {
    margin-top: var(--footer-social-list-m-top);
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: var(--footer-contacts-gap);
    position: relative;
}
.footer__contacts-title, .footer__links-item-link {
    font-size: 1.125rem;
    color: var(--button-orange-bg);
    max-width: var(--footer-item-max-w);
    text-decoration: none;
}
.footer__contacts-list {
    display: flex;
    flex-direction: column;
    gap: var(--footer-list-gap);
    list-style-type: none;
}
.footer__contacts-item {
    font-size: 1rem;
    max-width: var(--footer-item-max-w);
    display: flex;
    align-items: center;
    gap: var(--footer-contacts-item-gap);
}
.footer__contacts-item-link {
    text-decoration: none;
    color: #fff;
}
.footer__links {
    display: flex;
    flex-direction: column;
    gap: var(--footer-list-gap);
    list-style-type: none;
}

.footer__rights {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    font-weight: 300;
    color: #fff;
}
.footer__contacts-map::before {
    content: '';
    background: url('/images/location.png') no-repeat center center;
    background-size: contain;
    min-width: 14px;
    height: 21px;
    display: inline-block;
    position: relative;
    margin-right: 6px;
}
.footer__contacts-tel1::before {
    content: '';
    background: url('/images/phone.png') no-repeat center center;
    background-size: contain;
    width: 20px;
    height: 21px;
    display: inline-block;
    position: relative;
}
.footer__contacts-tel2::before {
    content: '';
    background: url('/images/phone.png') no-repeat center center;
    background-size: contain;
    width: 20px;
    height: 21px;
    display: inline-block;
    position: relative;
}
.footer__contacts-mail::before {
    content: '';
    background: url('/images/mail.png') no-repeat center center;
    background-size: contain;
    width: 19.95px;
    height: 16.47px;
    display: inline-block;
    position: relative;
}



button {
    font-family: 'Fira Sans', sans-serif;
}
.hidden {
    display: none;
}
.filter-panel__item-icon img {
    width: 29px;
    height: 11px;
}
.search-result {
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    top: -20px;
}
.added-to-cart-item {
    position: relative;
    border: 1px solid rgb(199, 199, 199);
    background-color: rgb(199, 199, 199);
}
.cart-link__number {
    position: absolute;
    color: #000;
    top: -30%;
    right: -30%;
    background-color: #fff;
    border-radius: 50px;
    width: 60%;
    text-align: center;
    text-decoration: none;
}

.filled-cart__item-icon {
    width: 66px;
    height: 173px;
}