.aside {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: var(--aside-gap);
    position: relative;
}
.content-wrapper {
    display: flex;
    padding: var(--content-wrapper-p);
    position: relative;
}
.fitler-panel {
    background-color: var(--filter-panel-bg);
    border-radius: 5px;
    width: var(--filter-panel-w);
    padding: var(--filter-panel-p);
}
.filter-panel__search {
    position: relative;
}
.filter-panel__input {
    font-family: 'Fira Sans', sans-serif;
    border: 1px solid var(--input-border-color);
    border-radius: 50px;
    padding: var(--filter-panel-input-p);
    width: 100%;
    height: var(--filter-panel-input-h);
}
.filter-panel__search-icon {
    position: absolute; 
    left: calc(88% - 12px); 
    top: 20%;
    cursor: not-allowed;
}
.filter-panel__search-icon img {
    width: var(--img-thinner-scale);
    height: var(--img-thinner-scale);
}
.filter-panel__title {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.125rem;
    margin-top: var(--filter-panel-title-m-top);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.filter-panel__divide {
    border: 0;
    background-color: var(--filter-panel-hr-color);
    margin: var(--filter-panel-hr-m);
    height: 1px;
}
.filter-panel__list {
    list-style-type: none;
    margin-top: var(--filter-panel-list-m-top);
}
.filter-panel__sublist {
    list-style-type: none;
    padding-left: var(--filter-panel-sublist-p-left);
}
.filter-panel__item {
    color: #fff;
    font-weight: 300;
}
.filter-panel__subitem {
    margin-top: var(--filter-panel-subtitle-m-top);
}
.filter-panel__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--filter-panel-price-p);
    position: relative;
    gap: var(--filter-panel-price-gap);
}
.filter-panel__price__input-container {
    position: relative;
    width: 100%;
}
.filter-panel__price__input {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: var(--filter-panel-price-input-p);
    width: 100%;
    height: var(--filter-panel-price-input-h);
}
.filter-panel__price__currency {
    font-size: 1.125rem;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.filter-panel__price-hyphen {
    display: flex;
    background-color: #fff;
    width: var(--filter-panel-price-hyphen-w);
    height: 1px;
}
.filter-panel__button, .contact-panel__button {
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
    border: 1px solid var(--button-orange-bg);
    border-radius: 50px;
    background-color: var(--button-orange-bg);
    width: 100%;
    height: var(--filter-panel-button-h);
    transition: all .5s ease;
}

.filter-panel__title::after {
    content: '';
    background: url('/images/wheat-yellow.png') no-repeat center center;
    background-size: cover;
    width: var(--filter-panel-wheat-w);
    height: var(--filter-panel-wheat-h);
    position: absolute;
    right: -39px;
    top: 50%;
    transform: translateY(-50%);
}
.filter-panel__title::before {
    content: '';
    background: url('/images/wheat-yellow.png') no-repeat center center;
    background-size: cover;
    width: var(--filter-panel-wheat-w);
    height: var(--filter-panel-wheat-h);
    position: absolute;
    left: -39px;
    top: 50%;
    transform: rotateY(180deg) translateY(-50%);
}

.contact-panel {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/images/contact-bg.png') no-repeat center center;;
    background-size: cover;
    border-radius: 5px;
    padding: var(--contact-panel-p);
    width: var(--filter-panel-w);
}
.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.contact-panel__title {
    font-size: 1.375rem;
    font-weight: 500;
    color: #fff;
}
.contact-panel__subtitle {
    font-size: 0.875rem;
    color: #fff;
    margin-top: var(--contact-panel-subtitles-m-top);
}
.contact-panel__input {
    font-family: 'Fira Sans', sans-serif;
    border: 0;
    border-radius: 5px;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.5);
    padding: var(--contact-panel-input-p);
    width: 100%;
    height: var(--contact-panel-input-h);
}
.contact-panel__inputs {
    display: flex;
    flex-direction: column;
    gap: var(--contact-panel-inputs-gap);
    padding: var(--contact-panel-inputs-p);
}
.contact-panel__extra {
    font-size: 0.6875rem;
    color: #fff;
}
.contact-panel__extra-link {
    color: var(--button-orange-bg);
}
.contact-panel__button {
    margin-top: var(--contact-panel-button-m-top);
}
.success {
    filter: blur(3px)
}
.success-p {
    color: var(--button-orange-bg);
    font-size: 1.2rem;
    text-align: center;
    margin-top: var(--item-card-success-p-m-top);
}

.main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: var(--main-row-gap);
    padding-left: var(--main-p-left);
    width: 100%;
    position: relative;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--card-gap);
    position: relative;
    max-width: 214px;
    width: 100dvw;
}
.card__img {
    width: var(--card-item-img-w);
    height: var(--card-item-img-h)
}
.card__title {
    font-size: 1.375rem;
    font-weight: 400;
    text-align: center;
}
.card__subtitle {
    font-size: 1.125rem;
    font-weight: 300;
    max-width: var(--card-item-img-w);
    text-align: center;
}
.card__price {
    font-size: 1.6rem;
    font-weight: 500;
}
.card__button {
    font-weight: 500;
    background-color: var(--button-orange-bg);
    border: 1px solid var(--button-orange-bg);
    border-radius: 50px;
    padding: var(--card-item-button-p);
    width: 81.78%;
    transition: all .5s ease;
    z-index: 1;
}
.card__sale, .card__new {
    font-weight: 600;
    border-radius: 5px;
    padding: var(--card-sale-p);
    position: absolute;
    top: 40px;
    left: 0;
    cursor: default;
}
.card__sale {
    background-color: var(--button-orange-bg);
}
.card__new {
    background-color: var(--card-new-green-bg);
    color: #fff;
}

.sale {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('/images/sale-bg.png') no-repeat center center;;
    background-size: cover;
    border-radius: 5px;
    align-items: center;
    gap: var(--sale-gap);
    width: 100%;
    height: var(--sale-h);
}
.sale__title {
    font-size: 2.1875rem;
    font-weight: 500;
    color: var(--button-orange-bg);
    position: relative;
}
.sale__title::before {
    content: '';
    background: url('/images/wheat-yellow.png') no-repeat center center;
    background-size: cover;
    width: var(--sale-wheat-w);
    height: var(--sale-wheat-h);
    position: absolute;
    left: -50px;
    top: 50%;
    transform: rotateY(180deg) translateY(-50%);
}
.sale__title::after {
    content: '';
    background: url('/images/wheat-yellow.png') no-repeat center center;
    background-size: cover;
    width: var(--sale-wheat-w);
    height: var(--sale-wheat-h);
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
}
.sale__subtitle {
    font-size: 1.875rem;
    color: #fff;
}

.filter-panel__item-icon img {
    width: 29px;
    height: 11px;
}
.search-result {
    font-weight: 500;
    position: absolute;
    top: -20px;
}
.added-to-cart-item {
    position: relative;
    border: 1px solid rgb(199, 199, 199);
    background-color: rgb(199, 199, 199);
}
.cart-link__number {
    color: #000;
    background-color: #fff;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: -30%;
    right: -30%;
    width: 60%;
}
.card__button-replaced {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(199, 199, 199);
    background-color: rgb(199, 199, 199);
    border-radius: 50px;
    width: 81.78%;
    padding: var(--card-item-button-p);
    gap: var(--card-button-replaced-gap);
    position: relative;
    cursor: default;
    z-index: 1;
}
.card__button-increase {
    background: url('/images/plus.png') no-repeat center center;
    background-size: contain;
    border: 0;
    width: var(--item-action-w);
    height: var(--item-increase-h);
}
.card__button-decrease {
    background: url('/images/minus.png') no-repeat center center;
    background-size: contain;
    border: 0;
    width: var(--item-action-w);
    height: var(--item-decrease-h);
}
.card__button-increase:hover, .card__button-decrease:hover, .filter-panel__item:hover, .filter-panel__subitem:hover, .filter-panel__button:hover, .contact-panel__button:hover, .card:hover, .card__button:hover {
    cursor: pointer;
}
.filter-panel__title:first-of-type {
    margin-top: var(--filter-panel-title-first-m-top);
}
.filter-panel__item:not(:first-of-type) {
    margin-top: var(--filter-panel-item-m-top);
}
.contact-panel__input::placeholder {
    color: #000;
}
.filter-panel__item-title:hover, .filter-panel__subitem:hover {
    color: var(--card-new-green-bg);
}
.filter-panel__button:hover, .contact-panel__button:hover, .card__button:hover {
    background-color: var(--button-orange-bg-hover);
}
.filter-panel-mobile {
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
}
.filter-panel-mobile__section-main {
    display: flex;
    justify-content: center;
    position: relative;
}
.filter-panel-mobile__section-main-button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--filter-panel-bg);
    border: 1px solid var(--filter-panel-bg);
    border-radius: 5px;
    margin-bottom: 7px;
    width: 290px;
    height: 58px;
}
.filter-panel-mobile__section {
    display: flex;
    border: 2px solid var(--border-gray);
    border-radius: 5px;
    width: 89px;
    height: 32px;
    position: relative;
    left: 216px;
    right: 0;
}
.filter-panel-mobile__button-left {
    border: 0;
    border-right: 2px solid var(--border-gray); 
    background: url('/images/display-2-gray.png') no-repeat center center, #fff;
    background-size: 18px 17px;
    width: 45.5px;
}
.filter-panel-mobile__button-right {
    border: 0;
    background: url('/images/display-1-yellow.png') no-repeat center center, #fff;
    background-size: 13px 17px;
    width: 43.5px;
}
.filter-panel-mobile__close {
    color: #fff;
    font-weight: 300;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 14px;
}
.active {
    display: block;
}
.hidden {
    display: none;
}

@media (max-width: 1440px) {
    .sale__title {
        font-size: 1.8rem;
    }
    .sale__subtitle {
        font-size: 1.5rem;
    }
}   
@media (max-width: 768px) {
    .footer__list {
        gap: 25px;
    }
}
@media (max-width: 450px) {
    .main {
        padding: 0 15px;
    }
    .sale__title {
        font-size: 1.7rem;
    }
    .sale__subtitle {
        text-align: center;
    }
    .card {
        max-width: 260px;
    }
    .card__title {
        font-size: 1.125rem;
    }
    .card__subtitle {
        font-size: 1rem;
    }
    .card__sale {
        top: 23px;
    }
    .content-wrapper {
        flex-direction: column;
    }
    .fitler-panel {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 290px;
    }
}