:root {
    --header-p: 12px 0 19px 0;
    --header-gap: 22px;
    --header-title-m-top: 79px;
    --header-bg-height: 390px;
    --header-soc-list-gap: 10px;
    --header-act-list-gap: 35px;
    --logo-w: 94px;
    --logo-h: 111px;
    --img-default-scale: 30px;
    --img-thinner-scale: 28px;
    --aside-gap: 30px;
    --filter-panel-bg: #262022;
    --filter-panel-p: 20px 11px;
    --filter-panel-w: 255px;
    --filter-panel-hr-color: #3C3C3C;
    --filter-panel-hr-m: 6.5px 0;
    --filter-panel-input-h: 48px;
    --filter-panel-input-p: 0 12px 0 22px;
    --filter-button-bg: #FDCF55;
    --filter-panel-title-first-m-top: 40px;
    --filter-panel-title-m-top: 32px;
    --filter-panel-list-m-top: 14px;
    --filter-panel-item-m-top: 11px;
    --filter-panel-subtitle-m-top: 10px;
    --filter-panel-price-input-p: 0 10px;
    --filter-panel-price-input-w: 106px;
    --filter-panel-price-input-h: 34px;
    --filter-panel-price-p: 14px 0;
    --filter-panel-price-gap: 5px;
    --filter-panel-wheat-w: 29px;
    --filter-panel-wheat-h: 11px;
    --contact-panel-p: 20px 15px;
    --contact-panel-p: 20px 16px;
    --contact-panel-h: 50px;
    --contact-panel-subtitles-m-top: 12px;
    --contact-panel-inputs-gap: 10px;
    --contact-panel-inputs-m: 16px 0 12px 0;
    --contact-panel-button-m-top: 35px;
    --input-border-color: #D7D7D7;
    --content-wrapper-p: 35px 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Fira Sans', sans-serif;
}
.wrapper {
    width: clamp(320px, 58.3dvw, 1120px);
    margin: 0 auto;
}
.background {
    position: absolute;
    z-index: -1;
}
.background__img {
    filter: brightness(60%);
    width: 100dvw;
    height: var(--header-bg-height);   
}
.header {
    display: flex;
    flex-direction: column;
    padding: var(--header-p);
    gap: var(--header-gap);
}
.header__inner {
    display: flex;
    justify-content: space-between;
}
.header__social-list, .header__action-list {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.header__social-list {
    gap: var(--header-soc-list-gap);
}
.header__action-list {
    gap: var(--header-act-list-gap);
}
.header__social-item, .header__action-item {
    display: inline-block;
}
.header__logo {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', sans-serif;
    align-items: center;
}
.header__logo-image {
    width: var(--logo-w);
    height: var(--logo-h);
}
.header__logo-title {
    color: #fff;
    font-size: 2.1875rem;
    font-weight: 400;
    text-transform: uppercase;
}
.header__social-icon {
    width: var(--img-default-scale);
    height: var(--img-default-scale);
}
.header__social-images {
    position: relative;
}
.header__social-image:nth-child(1) {
    width: 5.33px;
    height: 5.33px;
    position: absolute;
    left: 41%;
    top: 36.5%;
}
.header__social-image:nth-child(2) {
    width: 13.12px;
    height: 13.11px;
    position: absolute;
    top: 24.9%;
    left: 28.25%;
}
.header__social-image:nth-child(3) {
    width: var(--img-default-scale);
    height: var(--img-default-scale);
}

.nav__list {
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    list-style-type: none;
}
.nav__item a {
    color: #fff;
    text-decoration: none;
}
.header__title {
    font-size: 3.125rem;
    font-weight: 500;
    color: #fff;
    margin-top: var(--header-title-m-top);
}

.vk-link::before {
    content: '';
    background: url('/images/vk.png') no-repeat center center;
    background-size: contain;
    width: var(--img-default-scale);
    height: var(--img-default-scale);
    display: inline-block;
}
.facebook-link::before {
    content: '';
    background: url('/images/fb.png') no-repeat center center;
    background-position: center;
    background-size: contain;
    width: var(--img-default-scale);
    height: var(--img-default-scale);
    display: inline-block;
}
.search-link::before {
    content: '';
    background: url('/images/search.png') no-repeat center center;
    background-position: center;
    background-size: contain;
    width: var(--img-thinner-scale);
    height: var(--img-thinner-scale);
    display: inline-block;
}
.cart-link::before {
    content: '';
    background: url('/images/cart.png') no-repeat center center;
    background-position: center;
    background-size: contain;
    width: var(--img-default-scale);
    height: var(--img-thinner-scale);
    display: inline-block;
}



.aside {
    display: flex;
    flex-direction: column;
    gap: var(--aside-gap);
}
.content-wrapper {
    padding: var(--content-wrapper-p);
}
.fitler-panel {
    background-color: var(--filter-panel-bg);
    border-radius: 5px;
    width: var(--filter-panel-w);
    padding: var(--filter-panel-p);
}
.filter-panel__search {
    position: relative;
}
.filter-panel__input {
    font-family: 'Fira Sans', sans-serif;
    border: 1px solid var(--input-border-color);
    border-radius: 50px;
    width: 100%;
    height: var(--filter-panel-input-h);
    padding: var(--filter-panel-input-p);
}
.filter-panel__search-icon {
    position: absolute; 
    left: calc(88% - 12px); 
    top: 20%;
    cursor: pointer;
}
.filter-panel__search-icon img {
    width: var(--img-thinner-scale);
    height: var(--img-thinner-scale);
}
.filter-panel__title {
    text-transform: uppercase;
    font-size: 1.125rem;
    color: #fff;
    position: relative;
    margin-top: var(--filter-panel-title-m-top);
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}
.filter-panel__title:first-of-type {
    margin-top: var(--filter-panel-title-first-m-top);
}
.filter-panel__divide {
    height: 1px;
    border: 0;
    margin: var(--filter-panel-hr-m);
    background-color: var(--filter-panel-hr-color);
}
.filter-panel__list {
    list-style-type: none;
    margin-top: var(--filter-panel-list-m-top);
}
.filter-panel__item {
    color: #fff;
    font-weight: 300;
    cursor: pointer;
}

.filter-panel__item:not(:first-of-type) {
    margin-top: var(--filter-panel-item-m-top);
}
.filter-panel__subitem {
    margin-top: var(--filter-panel-subtitle-m-top);
    cursor: pointer;
}

.filter-panel__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--filter-panel-price-p);
    position: relative;
    gap: var(--filter-panel-price-gap);
}
.filter-panel__price__input {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: var(--filter-panel-price-input-p);
    width: 100%;
    height: var(--filter-panel-price-input-h);
}
.filter-panel__price-hyphen {
    display: flex;
    position: relative;
    background-color: #fff;
    width: 10px;
    height: 1px;
}
.filter-panel__button, .contact-panel__button {
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
    border: 1px solid var(--filter-button-bg);
    border-radius: 50px;
    background-color: var(--filter-button-bg);
    width: 100%;
    height: 44px;
    cursor: pointer;
}



.filter-panel__title::after {
    content: '';
    background: url('/images/wheat-yellow.png') no-repeat center center;
    background-size: cover;
    width: var(--filter-panel-wheat-w);
    height: var(--filter-panel-wheat-h);
    position: absolute;
    right: -39px;
    top: 50%;
    transform: translateY(-50%);
}
.filter-panel__title::before {
    content: '';
    background: url('/images/wheat-yellow.png') no-repeat center center;
    background-size: cover;
    width: var(--filter-panel-wheat-w);
    height: var(--filter-panel-wheat-h);
    position: absolute;
    left: -39px;
    top: 50%;
    transform: rotateY(180deg) translateY(-50%);
}



.contact-panel {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/images/contact-bg.png') no-repeat center center;;
    background-size: cover;
    padding: var(--contact-panel-p);
    width: var(--filter-panel-w);
    border-radius: 5px;
}
.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.contact-panel__title {
    font-size: 1.375rem;
    font-weight: 500;
    color: #fff;
}
.contact-panel__subtitle {
    font-size: 0.875rem;
    color: #fff;
    margin-top: var(--contact-panel-subtitles-m-top);
}
.contact-panel__input {
    font-family: 'Fira Sans', sans-serif;
    border: 0;
    border-radius: 5px;
    padding: var(--contact-panel-p);
    width: 100%;
    height: var(--contact-panel-h);
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.5);
}
.contact-panel__input::placeholder {
    color: #000;
}
.contact-panel__inputs {
    display: flex;
    flex-direction: column;
    gap: var(--contact-panel-inputs-gap);
    margin: var(--contact-panel-inputs-m);
}
.contact-panel__extra {
    font-size: 0.6875rem;
    color: #fff;
}
.contact-panel__extra-link {
    color: #FDCF55;
}
.contact-panel__button {
    margin-top: var(--contact-panel-button-m-top);
}