:root {
    --nav-gap: 65px;
    --img-default-scale: 30px;
    --img-thinner-scale: 28px;
    --logo-w: 94px;
    --logo-h: 111px;
    --header-title-m-top: 100px;
    --header-title-m-bottom: 19px;
    --filter-panel-bg: #262022;
    --filter-panel-p: 20px 11px;
    --filter-panel-w: 255px;
    --fitler-panel-h: 600px;
    --input-border-color: #D7D7D7;
    --filter-hr-color: #3C3C3C;
    --button-bg: #FDCF55;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Fira Sans', sans-serif;
}
.wrapper {
    width: clamp(320px, 58.3dvw, 1120px);
    margin: 0 auto;
}
.background {
    position: absolute;
    height: 390px;
    z-index: -1;
}
.background__img {
    filter: brightness(60%);
    width: 100dvw;
    height: 390px;   
}
.header {
    height: 390px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
}
.header__social-list, .header__action-list {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.header__social-list {
    gap: 10px;
}
.header__action-list {
    gap: 35px;
}
.header__social-item, .header__action-item {
    display: inline-block;
}
.header__logo {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', sans-serif;
    align-items: center;
    margin: 12px 0 22px 0;
}
.header__logo-image {
    width: var(--logo-w);
    height: var(--logo-h);
}
.header__logo-title {
    color: #fff;
    font-size: 2.1875rem;
    font-weight: 400;
    text-transform: uppercase;
}
.header__social-icon {
    width: var(--img-default-scale);
    height: var(--img-default-scale);
}
.header__social-images {
    position: relative;
}
.header__social-image:nth-child(1) {
    width: 5.33px;
    height: 5.33px;
    position: absolute;
    left: 41%;
    top: 36.5%;
}
.header__social-image:nth-child(2) {
    width: 13.12px;
    height: 13.11px;
    position: absolute;
    top: 24.9%;
    left: 28.25%;
}
.header__social-image:nth-child(3) {
    width: var(--img-default-scale);
    height: var(--img-default-scale);
}

.nav__list {
    display: flex;
    justify-content: center;
    gap: var(--nav-gap);
    font-weight: 500;
    list-style-type: none;
}
.nav__item a {
    color: #fff;
    text-decoration: none;
}
.header__title {
    font-size: 3.125rem;
    font-weight: 500;
    color: #fff;
    margin-top: var(--header-title-m-top);
    margin-bottom: var(--header-title-m-bottom)
}

.vk-link::before {
    content: '';
    background: url('/images/vk.png') no-repeat center center;
    background-size: contain;
    width: var(--img-default-scale);
    height: var(--img-default-scale);
    display: inline-block;
}
.facebook-link::before {
    content: '';
    background: url('/images/fb.png') no-repeat center center;
    background-position: center;
    background-size: contain;
    width: var(--img-default-scale);
    height: var(--img-default-scale);
    display: inline-block;
}
.search-link::before {
    content: '';
    background: url('/images/search.png') no-repeat center center;
    background-position: center;
    background-size: contain;
    width: var(--img-thinner-scale);
    height: var(--img-thinner-scale);
    display: inline-block;
}
.cart-link::before {
    content: '';
    background: url('/images/cart.png') no-repeat center center;
    background-position: center;
    background-size: contain;
    width: var(--img-default-scale);
    height: var(--img-thinner-scale);
    display: inline-block;
}



.content-wrapper {
    padding: 35px 0;
}
.fitler-panel {
    background-color: var(--filter-panel-bg);
    width: var(--filter-panel-w);
    height: var(--filter-panel-h);
    padding: var(--filter-panel-p);
}
.filter-panel__search {
    position: relative;
}
.filter-panel__input {
    font-family: 'Fira Sans', sans-serif;
    border: 1px solid var(--input-border-color);
    border-radius: 50px;
    height: 48px;
    width: 100%;
    padding: 0 12px 0 22px;
}
.filter-panel__search-icon {
    position: absolute; 
    left: calc(88% - 12px); 
    top: 20%;
    cursor: pointer;
}
.filter-panel__search-icon img {
    width: var(--img-thinner-scale);
    height: var(--img-thinner-scale);
}
.filter-panel__title {
    text-transform: uppercase;
    font-size: 1.125rem;
    color: #fff;
    position: relative;
    margin-top: 32px;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}
.filter-panel__title:first-of-type {
    margin-top: 40px;
}
.filter-panel__divide {
    height: 1px;
    border: 0;
    margin: 6.5px 0;
    background-color: var(--filter-hr-color);
}
.filter-panel__list {
    list-style-type: none;
    margin-top: 14px;
}
.filter-panel__item {
    color: #fff;
    font-weight: 300;
}

.filter-panel__item:not(:first-of-type) {
    margin-top: 11px;
}
.filter-panel__subitem {
    margin-top: 10px;
}

.filter-panel__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0 20px 0;
    position: relative;
}
.filter-panel__price__input {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    width: 106px;
    height: 34px;
}
.filter-panel__price-hyphen {
    display: flex;
    position: relative;
    background-color: #fff;
    width: 10px;
    height: 1px;
}
.filter-panel__button {
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
    border: 1px solid var(--button-bg);
    border-radius: 50px;
    background-color: var(--button-bg);
    width: 100%;
    height: 44px;
}



.filter-panel__title::after {
    content: '';
    background: url('/images/wheat-yellow.png') no-repeat center center;
    background-size: cover;
    width: 29px;
    height: 11px;
    position: absolute;
    right: -39px;
    top: 50%;
    transform: translateY(-50%);
}
.filter-panel__title::before {
    content: '';
    background: url('/images/wheat-yellow.png') no-repeat center center;
    background-size: cover;
    width: 29px;
    height: 11px;
    position: absolute;
    left: -39px;
    top: 50%;
    transform: rotateY(180deg) translateY(-50%);
}