* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header, .intro, .intro-tip, .section-about, .footer, .intro-dots {
    z-index: 4;
}
.main {
    padding: 130px 0 55px 0;
    flex: 1;
}
.wrapper {
    min-height: calc(100dvh - var(--footer-h));
}

.intro, .intro-dots, .intro-tip {
    position: relative;
    text-align: center;
}
.intro__title {
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
}
.intro__title-important {
    color: var(--button-orange-bg);
}
.intro__subtitle {
    font-weight: 300;
    color: #fff;
}
.intro__button {
    border: 1px solid var(--button-orange-bg);
    border-radius: 50px;
    background-color: var(--button-orange-bg);
    width: 255px;
    height: 51px;
    margin-top: 40px;
}
.intro-tip {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    gap: 9px;
}
.intro-tip__title {
    font-size: 0.8125rem;
    color: #fff;
}
.intro-tip__images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13px;
}
.section-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    background: url('../images/about-bg-main.png') no-repeat center center, url('../images/about-bg-1.png') no-repeat left left, url('../images/about-bg-2.png') no-repeat right right;
    background-size: cover;
    padding: 40px 0;
}
.section-about__title {
    font-size: 2.1875rem;
    margin: 5px 0 29px 0;
}
.section-about__icons {
    display: flex;
    gap: 30px;
}
.section-about__icon {
    width: 47px;
    height: 18px;
}
.section-about__icon.wheat-left {
    transform: rotate(180deg);
}
.section-about__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 42px;
}
.section-about__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 500;
    width: 100%;
    max-width: 189px;
}
.about-img1 {
    width: 115px;
    height: 129px;
}
.about-img2 {
    width: 76.64px;
    height: 133.08px;
}
.about-img3 {
    width: 99px;
    height: 135px;
}
.about-img4 {
    width: 120px;
    height: 129px;
}
.about-img5 {
    width: 100px;
    height: 143px;
}

.intro-slider {
    position: absolute;
    overflow: hidden;
    width: 100dvw;
    height: 1007px; 
    top: 0;
    left: 0;
    }
.intro-slider__arrow {
    border: 0;
    background-color: inherit;
    width: 17.26px;
    height: 17.08px;
    z-index: 999;
    position: relative;
    top: 50%;
    bottom: 0;
    transform: translateY(-50%);
}
.intro-slider__arrow.slider-arrow-left {
    background: url('../images/slider-arrow-unavailable.png') no-repeat center center;
    background-size: contain;
}
.intro-slider__arrow.slider-arrow-right {
    background: url('../images/slider-arrow-available.png') no-repeat center center;
    background-size: contain;   
}
.intro-slider__arrow:hover {
    cursor: pointer;
}
.intro-slider__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    z-index: 3;
}

.intro-slider__background.active {
    opacity: 1;
    transform: translateX(0);
    z-index: 2;
}

.intro-slider__background.prev {
    opacity: 1;
    transform: translateX(-100%);
}

.intro-slider__background.next {
    opacity: 1;
    transform: translateX(100%);
}
.intro-dots {
    display: flex;
    justify-content: center;
    margin-top: 85px;
    gap: 10px;
}
.intro-dot {
    background-color: #fff;
    border-radius: 50%;
    width: 11px;
    height: 11px;
}

.modal {
    width: clamp(290px, 100dvw, 637px);
    background-color: var(--footer-bg-color);
    color: #fff;
    border: 1px solid var(--footer-bg-color);
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.modal__wrapper {
    width: clamp(255px, 100dvw, 469px);
    margin: 56px auto 57px auto;
}
.modal__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal__title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 37.18px;
}
.modal__text {
    font-size: 0.9rem;
    font-weight: 300;
    margin: 31px 0 35px 0;
}
.modal__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.modal__button {
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 500;
    width: 210px;
    height: 51px;
}
.button-adult {
    border: 1px solid var(--button-orange-bg);
    background-color: var(--button-orange-bg);
}
.button-underage {
    border: 1px solid #fff;
    background-color: #fff;
}

.intro__button:hover, .modal__button:hover, .arrow-available:hover{
    cursor: pointer;
}
.arrow-unavailable:hover {
    cursor: not-allowed;
}
.mouse-tip {
    width: 21px;
    height: 38px;
}
.arrow-tip {
    width: 5px;
    height: 28px;
}
.blurred {
    filter: blur(4px) brightness(0.4);
    pointer-events: none;
}
.intro-dot.active {
    background-color: var(--button-orange-bg);
    transform: scale(1.25);
}