.second-wrapper {
    padding: 0 0 35px 0;
}
.content-wrapper {
    padding: var(--item-card-content-wrapper-p);
}
.content {
    display: flex;
    padding: var(--item-card-content-p);
}
.main {
    padding-bottom: var(--item-card-main-p-bottom);
}
.main__item {
    display: flex;
    padding: var(--item-card-main-item-p);
}
.main__item-icon {
    width: var(--item-card-main-item-icon-w);
    height: var(--item-card-main-item-icon-h);
}
.main__item-info {
    padding: var(--item-card-main-item-info-p);
}
.main__item__title {
    margin-bottom: var(--item-card-main-item-title-m-bottom);
}
.main__item__title, .main__item__price {
    font-size: 2.5rem;
    font-weight: 500;
}
.main__item__subtitle {
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: var(--item-card-main-item-subtitle-m-top);
}
.main__item__value {
    font-size: 1.125rem;
    font-weight: 300;
}
.main__item__price {
    margin-top: var(--item-card-main-item-price-m-top);
}
.item-decrease {
    background: url('/images/action-minus.png') no-repeat center center;
    background-size: contain;
    border: 0;
    width: var(--item-action-w);
    height: var(--item-decrease-h);
}
.item-increase {
    background: url('/images/action-plus.png') no-repeat center center;
    background-size: contain;
    border: 0;
    width: var(--item-action-w);
    height: var(--item-increase-h);
}
.main__item-action-amount {
    display: flex;
    align-items: center;
    margin-top: 23px;
    gap: var(--item-card-main-item-action-amount-gap);
}
.item-buy {
    font-weight: 500;
    background-color: var(--button-orange-bg);
    border: 1px solid var(--button-orange-bg);
    border-radius: 50px;
    width: clamp(53px, 100dvw, 175px);
    height: var(--item-card-item-buy-h);
}
.item-buy-once {
    font-weight: 500;
    color: #fff;
    background-color: var(--card-new-green-bg);
    border: 1px solid var(--card-new-green-bg);
    border-radius: 50px;
    width: 100%;
    height: var(--item-card-item-buy-h);
}
.main__item-action {
    display: flex;
    flex-direction: column;
    gap: var(--item-card-main-item-action-gap);
    flex-wrap: wrap;
}
.main__item-action__amount {
    font-size: 1.125rem;
    font-weight: 500;
}

.section__list {
    display: flex;
    justify-content: center;
}
.section__item {
    display: inline-block;
}
.section__item__header {
    font-size: 1.125rem;
    max-width: 275px;
    width: 100dvw;
    text-align: center;
    padding: var(--item-card-content-wrapper-p);
    position: relative;
}
.section__item__header-link {
    color: #000;
    text-decoration: none;
}
.current-item {
    font-size: 1.125rem;
    font-weight: 500;
    background-color: rgba(190, 190, 190);
}

.section__item__content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(190, 190, 190);
    color: var(--item-card-section-item-content-black);
    padding: var(--item-card-section-item-content-p);
    display: flex;
    justify-content: center;
}
.section {
    padding-top: var(--item-card-section-p-top);
}
.section__header {
    font-size: 1.875rem;
}
.section-like {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section-like__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--item-card-section-like-item-gap);
    cursor: pointer;    
}
.item__img {
    width: var(--card-item-img-w);
    height: var(--card-item-img-h);
}
.item__title {
    font-size: 1.375rem;
    text-align: center;
}
.item__subtitle {
    font-size: 1.125rem;
    font-weight: 300;
}
.item__price {
    font-size: 1.6rem;
    font-weight: 500;
}
.item__button {
    border: 1px solid var(--button-orange-bg);
    border-radius: 50px;
    background-color: var(--button-orange-bg);
    font-weight: 500;
    width: 70%;
    height: var(--item-card-item-button-h);
    z-index: 1;
}

.content__link {
    color: #000;
    text-decoration: none;
}
.aside {
    display: flex;
    flex-direction: column;
    gap: var(--aside-gap);
}
.contact-panel {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/images/contact-bg.png') no-repeat center center;;
    background-size: cover;
    padding: var(--contact-panel-p);
    width: var(--filter-panel-w);
    border-radius: 5px;
}
.contact-panel__title {
    font-size: 1.375rem;
    font-weight: 500;
    color: #fff;
}
.contact-panel__subtitle {
    font-size: 0.875rem;
    color: #fff;
    margin-top: var(--contact-panel-subtitles-m-top);
}
.contact-panel__input {
    font-family: 'Fira Sans', sans-serif;
    border: 0;
    border-radius: 5px;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.5);
    padding: var(--contact-panel-input-p);
    width: 100%;
    height: var(--contact-panel-input-h);
}
.contact-panel__inputs {
    display: flex;
    flex-direction: column;
    gap: var(--contact-panel-inputs-gap);
    padding: var(--contact-panel-inputs-p);
}
.contact-panel__extra {
    font-size: 0.6875rem;
    color: #fff;
}
.contact-panel__extra-link {
    color: var(--button-orange-bg);
}
.contact-panel__button {
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
    border: 1px solid var(--button-orange-bg);
    border-radius: 50px;
    background-color: var(--button-orange-bg);
    width: 100%;
    height: var(--filter-panel-button-h);
    transition: all .5s ease;
    margin-top: var(--contact-panel-button-m-top);
}
.success {
    filter: blur(3px)
}
.success-p {
    color: var(--button-orange-bg);
    font-size: 1.2rem;
    text-align: center;
    margin-top: var(--item-card-success-p-m-top);
}

.added-to-cart-item {
    position: relative;
    border: 1px solid rgb(199, 199, 199);
    background-color: rgb(199, 199, 199);
}
.item__button-replaced {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(199, 199, 199);
    background-color: rgb(199, 199, 199);
    border-radius: 50px;
    width: 70%;
    padding: var(--card-item-button-p);
    gap: var(--card-button-replaced-gap);
    position: relative;
    cursor: default;
    z-index: 1;
}
.item__button-increase {
    background: url('/images/plus.png') no-repeat center center;
    background-size: contain;
    border: 0;
    width: var(--item-action-w);
    height: var(--item-increase-h);
}
.item__button-decrease {
    background: url('/images/minus.png') no-repeat center center;
    background-size: contain;
    border: 0;
    width: var(--item-action-w);
    height: var(--item-decrease-h);
}


.item__button-increase:hover, .item__button-decrease:hover, .item__button:hover, .main__item-action__button:hover, .contact-panel__button:hover {
    cursor: pointer;
}
.item-buy:hover, .item__button:hover, .contact-panel__button:hover {
    background-color: var(--button-orange-bg-hover);
}

.current-item::before {
    content: '';
    background: url('/images/wheat-yellow.png') no-repeat center center;
    background-size: contain;
    width: var(--item-card-main-curr-item-icon-w);
    height: var(--item-card-main-curr-item-icon-h);
    display: inline-block;
    position: relative;
    top: 50%;
    transform: rotateY(180deg);
    margin-right: var(--item-card-main-curr-item-icon-m-sides);
}
.current-item::after {
    content: '';
    background: url('/images/wheat-yellow.png') no-repeat center center;
    background-size: contain;
    width: var(--item-card-main-curr-item-icon-w);
    height: var(--item-card-main-curr-item-icon-h);
    display: inline-block;
    position: relative;
    top: 50%;
    margin-left: var(--item-card-main-curr-item-icon-m-sides);
}

.content__link::before {
    content: '';
    background: url('/images/arrow-left.png') no-repeat center center;
    background-size: cover;
    width: var(--item-card-content-link-w);
    height: var(--item-card-content-link-h);
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: var(--item-card-content-link-m-right);
}
.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.contact-panel__input::placeholder {
    color: #000;
}
.main__item__value:last-of-type {
    margin-left: var(--item-card-main-item-value-last-m-left);
}

@media (max-width: 1003px) {
    .aside {
        display: none;
    }
    .item-buy-once {
        width: clamp(53px, 100dvw, 175px);
    }
}

@media (max-width: 600px) {
    .item-buy, .item-buy-once {
        width: 210px;
    }
}

@media (max-width: 625px) {
    .main__item {
        padding: 0; 
    }
}

@media (max-width: 550px) {
    .main__item {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 35px;
    }
    .main__item__title {
        font-size: 2.1875rem;
    }
    .section__item__header {
        width: fit-content;
    }
    .section__header {
        font-size: 1.6rem;
    }
    .section-like__item {
        max-width: 136px;
    }
    .section__item__header {
        padding: 9px;
    }
}