.inner {
    display: flex;
    padding: var(--main-p);
    gap: var(--inner-gap);
}

.main__header {
    font-size: 1.875rem;
    font-weight: 400;
    margin-bottom: 34px;
}
.main__form {
    display: flex;
    flex-direction: column;
    padding: var(--main-p);
    gap: var(--main-gap);
}
.main__form__required {
    color: var(--form-required-red);
}
.main__form__column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main__form__input, .main__form__input-textarea {
    font-family: 'Fira Sans', sans-serif;
    border: 1px solid var(--input-border-color);
    width: var(--main-form-input-w);
}
.main__form__input {
    padding: var(--main-form-input-p);
    border-radius: 50px;
    height: var(--contact-panel-input-h);
}
.main__form__input-textarea {
    border-radius: 20px;
    padding: var(--main-form-textarea-p);
    height: calc(var(--contact-panel-input-h) * 2);
    resize: none;
}
.main__form__fieldset {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    width: 100%;
    gap: var(--main-form-fieldset-gap);
}
.main__form__radio {
    display: none;
}
.main__form__radio-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border: 1px solid var(--input-border-color);
    border-radius: 50px;
    width: var(--main-form-radio-label-w);
    height: var(--contact-panel-input-h);
    transition: background-color 0.3s, border-color 0.3s;
    gap: var(--main-form-radio-label-gap);
}
.main__form__radio:checked + .main__form__radio-label {
    background-color: var(--button-orange-bg);
    border-color: var(--button-orange-bg);
}
.main__form__button {
    border: 1px solid var(--button-orange-bg);
    border-radius: 50px;
    background-color: var(--button-orange-bg);
    font-weight: 500;
    width: var(--main-form-button-w);
    height: var(--contact-panel-input-h);
    transition: all .5s ease;
}
.main__form__submit {
    display: flex;
    justify-content: center;
}
.main__form__checkbox {
    display: flex;
    justify-content: center;
    font-size: 0.875rem;
    gap: var(--main-form-checkbox-gap);
}
.main__form__link {
    color: var(--button-orange-bg);
    z-index: 1;
}
.main__form__legend {
    width: 100%;
}

.aside {
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 700;
    padding: var(--aside-p);
    height: 100%;
    width: var(--aside-w)
}
.aside__total__column, .aside__summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aside__total__title, .aside__item-title, .aside__item-amount {
    font-weight: 500;
}
.aside__total__subtitle {
    font-weight: 700;
}
.aside__hr {
    border: 0;
    background: var(--hr-color);
    height: 1px;
}
.aside__summary__title {
    font-size: 1.375rem;
    font-weight: 500;
}
.aside__summary__subtitle {
    font-size: 1.875rem;
    font-weight: 700;
}
.first-aside-col, .second-aside-col {
    padding: var(--first-aside-col-p);
}
.aside__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: var(--aside-list-gap);
    padding: var(--aside-list-padding);
}
.aside__item {
    display: flex;
    gap: var(--aside-item-gap);
}
.aside__item-inner {
    text-align: left;
}
.aside__item-icon {
    width: var(--aside-item-w);
    height: var(--aside-item-h);
}
.aside__item-capacity {
    font-weight: 300;
}

.filter-panel__item-icon img {
    width: 29px;
    height: 11px;
}
.search-result {
    font-weight: 500;
    position: absolute;
    top: -20px;
}
.added-to-cart-item {
    border: 1px solid rgb(199, 199, 199);
    background-color: rgb(199, 199, 199);
    position: relative;
}
.cart-link__number {
    color: #000;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    width: 60%;
    position: absolute;
    top: -30%;
    right: -30%;
}

.filled-cart__item-icon {
    width: 66px;
    height: 173px;
}
.main__form__radio-label:hover, .main__form__button:hover {
    cursor: pointer;
}
.main__form__radio-label[for="delivery"]::before {
    content: '';
    background: url('/images/delivery.png') no-repeat center center;
    background-size: contain;
    width: var(--main-form-radio-img-w);
    height: var(--main-form-radio-img-h);
}
.main__form__radio-label[for="take-away"]::before {
    content: '';
    background: url('/images/take-away.png') no-repeat center center;
    background-size: contain;
    width: var(--main-form-radio-img-w);
    height: var(--main-form-radio-img-h);
}
.main__form__button:hover {
    background-color: var(--button-orange-bg-hover);
}


@media (max-width: 1000px) {
    .inner {
        flex-direction: column;
    }
    .main__form__aside-tablet {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 500px) {
    #main__form__checkbox {
        flex-wrap: nowrap;
    }
    .main__form__column, .main__form__fieldset {
        flex-wrap: wrap;    
    }
    .main__header {
        margin: 31px 0 25px 0;
    }
    .main__form__label {
        margin-bottom: 5px;
    }
    .main__form__radio-group, .main__form__radio-label {
        width: 100%;
    }
}