:root {
    --header-p: 12px 0 19px 0;
    --header-gap: 22px;
    --header-title-m-top: 79px;
    --header-bg-height: 390px;
    --header-soc-list-gap: 10px;
    --header-act-list-gap: 35px;
    --logo-w: 94px;
    --logo-h: 111px;
    --main-p-top: 55px;
    --main-row-gap: 50px;
    --main-p-left: 50px;
    --main-p: 34px 0;
    --main-gap: 25px;
    --main-form-input-p: 0 25px;
    --main-form-input-w: 540px;
    --main-form-textarea-p: 10px 25px;
    --main-form-fieldset-gap: 20px;
    --main-form-radio-label-gap: 10px;
    --main-form-radio-label-w: 255px;
    --main-form-button-w: 350px;
    --main-form-radio-img-w: 37px;
    --main-form-radio-img-h: 30px;
    --main-form-checkbox-gap: 10px;
    --img-default-scale: 30px;
    --img-thinner-scale: 28px;
    --filter-panel-bg: #262022;
    --filter-panel-p: 20px 11px;
    --filter-panel-w: 255px;
    --filter-panel-hr-color: #3C3C3C;
    --filter-panel-hr-m: 6.5px 0;
    --filter-panel-input-h: 48px;
    --filter-panel-input-p: 0 12px 0 22px;
    --button-orange-bg: #FDCF55;
    --button-orange-bg-hover: #d8b249;
    --filter-panel-title-first-m-top: 40px;
    --filter-panel-title-m-top: 32px;
    --filter-panel-list-m-top: 14px;
    --filter-panel-item-m-top: 11px;
    --filter-panel-subtitle-m-top: 10px;
    --filter-panel-price-input-p: 0 10px;
    --filter-panel-price-input-w: 106px;
    --filter-panel-price-input-h: 34px;
    --filter-panel-price-p: 14px 0;
    --filter-panel-price-gap: 5px;
    --filter-panel-wheat-w: 29px;
    --filter-panel-wheat-h: 11px;
    --filter-panel-sublist-p-left: 31px;
    --filter-panel-price-hyphen-w: 10px;
    --filter-panel-button-h: 44px;
    --first-aside-col-p: 24.5px 0 19.5px 0;
    --first-aside-col-p: 25.5px 0 19.5px 0;
    --contact-panel-p: 20px 19px;
    --contact-panel-input-p: 0 16px;
    --contact-panel-input-h: 50px;
    --contact-panel-subtitles-m-top: 12px;
    --contact-panel-inputs-gap: 10px;
    --contact-panel-inputs-p: 16px 0 12px 0;
    --contact-panel-button-m-top: 35px;
    --input-border-color: #D7D7D7;
    --content-wrapper-p: 35px 0;
    --card-gap: 8px;
    --card-item-img-w: 214px;
    --card-item-img-h: 571px;
    --card-item-button-p: 9.09px 0;
    --card-sale-p: 5px 11px;
    --card-new-green-bg: #769B54;
    --card-button-replaced-gap: 13px;
    --sale-gap: 10px;
    --sale-h: 141px;
    --sale-wheat-w: 37px;
    --sale-wheat-h: 14px;
    --aside-gap: 30px;
    --aside-w: 350px;
    --aside-p: 18px 20px;
    --aside-item-w: 36px;
    --aside-item-h: 95px;
    --aside-item-gap: 40px;
    --aside-list-gap: 20px;
    --aside-list-padding: 14px 29px 24.5px 29px;
    --footer-bg-color: #262022;
    --footer-h: 412px;
    --footer-m-top: 100px;
    --footer-logo-img-w: 82px;
    --footer-logo-img-h: 97px;
    --footer-logo-gap: 9px;
    --footer-wrapper-p-top: 20px;
    --footer-logo-m-bottom: 26px;
    --footer-social-list-m-top: 42px;
    --footer-list-gap: 20px;
    --footer-logo-max-w: 350px;
    --footer-item-max-w: 250px;
    --footer-contacts-gap: 29px;
    --footer-list-p: 10px 0 60px 0;
    --footer-contacts-item-gap: 14px;
    --empty-cart-title-m-bottom: 35px;
    --empty-cart-subtitle-m-bottom: 48px;
    --cart-button-h: 44px;
    --cart-header-white: #E9E9E9;
    --filled-cart-total-gap: 35px;
    --filled-cart-gap: 20px;
    --filled-cart-total-left-p-right: 70px;
    --filled-cart-item-cell-p: 20px 0;
    --filled-cart-item-cell-actions-gap: 13px;
    --filled-cart-button-del-w: 16px;
    --filled-cart-button-del-h: 16px;
    --filled-cart-price-m-left: 15px;
    --filled-cart-item-icon-w: 66px;
    --filled-cart-item-icon-h: 173px;
    --filled-cart-item-cell-first-p: 20px 0 20px 47px;
    --table-header-green: #769B54;
    --item-price-calc-gray: #ADADAD;
    --form-required-red: red;
    --hr-color: #E9E9E9;
    --item-action-w: 15.68px;
    --item-increase-h: 15.68px;
    --item-decrease-h: 4.28px;
    --search-result-t: -20px;
    --inner-gap: 30px;
    --item-card-content-wrapper-p: 9px 0;
    --item-card-content-p: 64px 0;
    --item-card-main-p-bottom: 57px;
    --item-card-main-item-p: 0 95px;
    --item-card-main-item-icon-w: 255px;
    --item-card-main-item-icon-h: 675px;
    --item-card-main-item-info-p: 0 84px;
    --item-card-main-item-title-m-bottom: 25px;
    --item-card-main-item-subtitle-m-top: 33px;
    --item-card-main-item-price-m-top: 37px;
    --item-card-main-item-action-amount-gap: 10px;
    --item-card-item-buy-h: 44px;
    --item-card-main-item-action-gap: 10px 20px;
    --item-card-main-curr-item-icon-w: 36.56px;
    --item-card-main-curr-item-icon-h: 14px;
    --item-card-main-curr-item-icon-m-sides: 8.44px;
    --item-card-section-item-content-p: 35px 0;
    --item-card-section-item-content-black: #323232;
    --item-card-section-p-top: 35px;
    --item-card-section-like-item-gap: 8px;
    --item-card-item-button-h: 37px;
    --item-card-content-link-w: 44px;
    --item-card-content-link-h: 5.5px;
    --item-card-content-link-m-right: 15px;
    --item-card-success-p-m-top: 10px;
    --item-card-main-item-value-last-m-left: 17px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Fira Sans', sans-serif;
    width: 100dvw;
    overflow-x: hidden;
}
.wrapper, .footer__wrapper {
    width: clamp(320px, 85dvw, 1120px);
    margin: 0 auto;
}
.background {
    position: absolute;
    z-index: -1;
}
.background__img {
    filter: brightness(60%);
    width: 100dvw;
    height: var(--header-bg-height);   
}
.header {
    display: flex;
    flex-direction: column;
    padding: var(--header-p);
    gap: var(--header-gap);
    position: relative;
}
.header__inner {
    display: flex;
    justify-content: space-between;
}
.header__social-list, .header__action-list, .footer__social-list {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.header__social-list, .footer__social-list {
    gap: var(--header-soc-list-gap);
}
.header__action-list {
    gap: var(--header-act-list-gap);
}
.header__social-item, .header__action-item, .footer__social-item {
    display: inline-block;
    position: relative;
}
.header__logo {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', sans-serif;
    align-items: center;
}
.header__logo__link {
    display: flex;  
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.header__logo-image {
    width: var(--logo-w);
    height: var(--logo-h);
}
.header__logo-title {
    color: #fff;
    font-size: 2.1875rem;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .3s ease-in;
}
.header__logo-title:hover {
    scale: 1.2;
}
.header__social-icon {
    width: var(--img-default-scale);
    height: var(--img-default-scale);
}
.header__social-images, .footer__social-images {
    position: relative;
}
.header__social-image:nth-child(1), .footer__social-image:nth-child(1) {
    width: 5.33px;
    height: 5.33px;
    position: absolute;
    left: 41%;
    top: 36.5%;
}
.header__social-image:nth-child(2), .footer__social-image:nth-child(2) {
    width: 13.12px;
    height: 13.11px;
    position: absolute;
    top: 24.9%;
    left: 28.25%;
}
.header__social-image:nth-child(3), .footer__social-image:nth-child(3) {
    width: var(--img-default-scale);
    height: var(--img-default-scale);
}

.nav__list {
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    list-style-type: none;
}
.nav__item {
    transition: all .2s ease-in;
}
.nav__item:hover {
    scale: 1.2;
}
.nav__item a {
    color: #fff;
    text-decoration: none;
}
.header__action-item:first-of-type {
    transition: all .5s ease-in;
}
.header__action-item:first-of-type:hover {
    transform: rotate(90deg);
    scale: 1.25;
}
.header__action-item {
    position: relative;
}

.cart-link__number {
    display: inline-block;
    position: absolute;
    color: #000;
    top: -30%;
    right: -30%;
    background-color: #fff;
    border-radius: 50px;
    width: 60%;
    text-align: center;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

.header__title {
    font-size: 3.125rem;
    font-weight: 500;
    color: #fff;
    margin-top: var(--header-title-m-top);
}

.vk-link::before {
    content: '';
    background: url('/images/vk.png') no-repeat center center;
    background-size: contain;
    width: var(--img-default-scale);
    height: var(--img-default-scale);
    display: inline-block;
}
.facebook-link::before {
    content: '';
    background: url('/images/fb.png') no-repeat center center;
    background-position: center;
    background-size: contain;
    width: var(--img-default-scale);
    height: var(--img-default-scale);
    display: inline-block;
}
.search-link::before {
    content: '';
    background: url('/images/search.png') no-repeat center center;
    background-position: center;
    background-size: contain;
    width: var(--img-thinner-scale);
    height: var(--img-thinner-scale);
    display: inline-block;
}
.cart-link::before {
    content: '';
    background: url('/images/cart.png') no-repeat center center;
    background-position: center;
    background-size: contain;
    width: var(--img-default-scale);
    height: var(--img-thinner-scale);
    display: inline-block;
}

@keyframes throwAnimation {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-10px, -30px);
    }
    100% {
        transform: translate(-12px, 5px);
        z-index: -1;    
    }
}

.header__action-item:nth-of-type(2):hover .cart-link__number {
    animation: throwAnimation 0.9s ease-in-out forwards;
}

.footer {
    display: flex;
    background-color: var(--footer-bg-color);
    background-image: url('/images/footer-bg1.png'), url('/images/footer-bg2.png'), url('/images/footer-bg3.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: calc(100dvw / 3) 200px;
    background-position: bottom left, bottom right, bottom;
    margin-top: var(--footer-m-top);
    width: 100%;
    height: var(--footer-h);
}
.footer__wrapper {
    padding-top: var(--footer-wrapper-p-top);
}
.footer__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: var(--footer-list-p);
}
.footer__logo {
    display: flex;
    align-items: center;
    gap: var(--footer-logo-gap);
    margin-bottom: var(--footer-logo-m-bottom);
    max-width: var(--footer-logo-max-w);
}
.footer__logo-image {
    width: var(--footer-logo-img-w);
    height: var(--footer-logo-img-h);
}
.footer__logo-title {
    font-size: 2.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--button-orange-bg);
}
.footer__description {
    font-size: 0.9rem;
    font-weight: 300;
    color: #fff;
    max-width: var(--footer-logo-max-w);
}
.footer__social-list {
    margin-top: var(--footer-social-list-m-top);
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: var(--footer-contacts-gap);
    position: relative;
}
.footer__contacts-title, .footer__links-item-link {
    font-size: 1.125rem;
    color: var(--button-orange-bg);
    text-decoration: none;
    max-width: var(--footer-item-max-w);
}
.footer__contacts-list {
    display: flex;
    flex-direction: column;
    gap: var(--footer-list-gap);
    list-style-type: none;
}
.footer__contacts-item {
    display: flex;
    align-items: center;
    gap: var(--footer-contacts-item-gap);
    max-width: var(--footer-item-max-w);
}
.footer__contacts-item-link {
    text-decoration: none;
    color: #fff;
}
.footer__links {
    display: flex;
    flex-direction: column;
    gap: var(--footer-list-gap);
    list-style-type: none;
}

.footer__rights {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    font-weight: 300;
    color: #fff;
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 35px;
    right: 15px;
}
.nav-mobile__button {
    border: 0;
    background: url('/images/mobile-nav.png') no-repeat center center;
    background-size: cover;
    width: 24px;
    height: 15px;
}

.footer__contacts-map::before {
    content: '';
    background: url('/images/location.png') no-repeat center center;
    background-size: contain;
    min-width: 14px;
    height: 21px;
    display: inline-block;
    position: relative;
    margin-right: 6px;
}
.footer__contacts-tel1::before {
    content: '';
    background: url('/images/phone.png') no-repeat center center;
    background-size: contain;
    width: 20px;
    height: 21px;
    display: inline-block;
    position: relative;
}
.footer__contacts-tel2::before {
    content: '';
    background: url('/images/phone.png') no-repeat center center;
    background-size: contain;
    width: 20px;
    height: 21px;
    display: inline-block;
    position: relative;
}
.footer__contacts-mail::before {
    content: '';
    background: url('/images/mail.png') no-repeat center center;
    background-size: contain;
    width: 19.95px;
    height: 16.47px;
    display: inline-block;
    position: relative;
}

.hidden {
    display: none;
}
button {
    font-family: 'Fira Sans', sans-serif;
}
.background {
    height: var(--header-bg-height);
}

@media (max-width: 768px) {
    :root {
        --header-title-m-top: 50px;
        --header-bg-height: 361px;
    }
}
@media (max-width: 450px) {
    :root {
        --header-bg-height: 204px;
        --logo-w: 46px;
        --logo-h: 55px;
        --header-title-m-top: 0;
        --header-gap: 86px;
        --header-p: 14px 0 5px 0;
        --card-item-img-w: 136px;
        --card-item-img-h: 363px;
        --sale-h: 189px;
        --main-row-gap: 25px;
        --footer-m-top: 25px;
        --footer-logo-img-w: 49px;
        --footer-logo-img-h: 58px;
        --footer-wrapper-p-top: 21px;
        --footer-logo-m-bottom: 16px;
        --footer-social-list-m-top: 16px;
        --footer-contacts-gap: 16px;
        --footer-list-gap: 27px;
        --footer-h: 100%;
        --footer-list-p: 0 0 34.5px 0;
    }
    .wrapper {
        width: 100dvw;
        max-width: 320px;
    }
    .footer__list {
        flex-direction: column; 
    }
    .header__social-list, .header__action-list, .nav {
        display: none;
    }
    .header__logo {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .header__logo-title {
        font-size: 0.7rem;
    }
    .header__title {
        font-size: 1.5625rem;
    }
    .nav-mobile {
        display: block;
    }
    .contact-panel, .fitler-panel {
        display: none;
    }
    .footer__logo-title {
        font-size: 1.5rem;
    }
    .footer__wrapper {
        width: 290px;
    }
    .footer__rights {
        flex-direction: column;
        gap: 12px;
        padding-bottom: 19px;
    }
}